extends ../layout
block index
	nav.navbar.navbar-default(role="navigation")
		div.col-lg-3
			img(src='https://graph.facebook.com/#{everyauth.facebook.user.id}/picture?width=80&height=80')
			span.label.label-primary#spanImg #{ everyauth.facebook.user.name }
		div#links
			a(href="/principal") inicio
	div.row
		div.container
			div.row
				div.col-lg-3
					div#alerta
					if exito == undefined
						h2 Producto a vender
					else
						h2 #{ exito }
			form#uploadForm(action="/vender/subirImagen", method="post", enctype="multipart/form-data")
				div.form-group
					div.row#imagenes
						div.media
					span.label.label-info#status
					input#userPhotoInput.form-control(type="file", placeholder="Agregar imagen", name="imagen") Elige imagen
			form#informacionForm(action="/vender", method="post", enctype="multipart/form-data")
				div.form-group
					label.label.label-info(for="titulo") Titulo
					input.form-control(type="text", maxlength="70", placeholder="Ingresa un titulo para tu venta", name="titulo", required )
					p.help-block Ejemplo: Vendo auto sentra 2008 plateado, maximo 70 caracteres
				div.form-group
					label.label.label-info(for="descripcion_corta") Breve descripcion
					input.form-control(type="text", maxlength="140", placeholder="Ingresa una descripcion corta acerca de tu producto", name="descripcion_corta", required )
					p.help-block Ejemplo: La descripcion debe contener un maximo de 140 caracteres
				div.form-group
					label.label.label-info(for="descripcion") Descripcion
					textarea#descripcion.form-control(placeholder="Ingresa descripcion de tu venta", name="descripcion", required)
					p.help-block Ejemplo: El auto esta en excelentes condiciones tiene aire acondicionado
				div.form-group
					label.label.label-info(for="precio") Precio
					input.form-control(type="number", min="1",maxlength="12", step="any", placeholder="Ingresa el precio", name="precio", required )
					select.form-group(name="tipo_moneda")
						option(value="pesos") Pesos
						option(value="dolares") Dolares
						option(value="euros") Euros
					p.help-block Ejemplo: 800.00
				div.form-group
					input.form-control#imagenesField(type="hidden", name="imagenes")
					input.form-control#descripcionField(type="hidden", name="descripcionField")
			div.row
				div.col-lg-2.col-lg-offset-4
					button.btn.btn-primary(type="button", onclick="enviaInformacion()") Guardar
					button.btn.btn-danger(type="button", onclick="cancelarProducto()") Cancelar
					hr

				
block append foot
	script(src="http://malsup.github.com/jquery.form.js")
	script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
	script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js")
	script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_es.js")
	script(src="/js/tinymce/tinymce.min.js")
	script(src="/js/yosoyventas/subidas.js")


