extends layout
block head
	|<link href='http://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'>
	|<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
block index
	div.row#fondo
		div.container
			div#divInformativo
				h2.textoInformativo.text-center 
					b Yo soy ventas 
					|te permitirá comprar, vender y cambiar articulos de manera fácil y segura. Todo en un solo lugar.
	div.row#divi
		h3.texto.text-center Conéctate con tu cuenta de Facebook y empieza ahora.
	div.row#textura
		div.container
			div.col-lg-4.col-lg-offset-4#linkFace
				a.btn.btn-default(data-toggle="tooltip", 
				data-original-title="Haz clic aqui para ingresar", tooltip="Haz clic aqui para ingresar", href="/facebook")
					img#facebook(src = "/img/facebook.png") Haz clic aqui para ingresar