body{
	background: url("/img/madera.jpg");
	background-size: 100% 100%;

	height: 12em;
}

#fondo{
	background: url("/img/logo.png") no-repeat, url("/img/fondoLogin.jpg") 100% no-repeat;
	background-size: 41% 22%, 100% 100%;
	background-position: 24em 0, center top;
	height: 50em;
}



#divInformativo{
	margin-top: 35%;
	color:white;
	opacity: .6;
	background-color: black;
	padding: 2em 2em 2em 2em;
	border-radius: 2em 2em;
	font-family: 'Jacques Francois', serif;
}

.textoInformativo{
	font-family: arial, serif;
	font: bold;
}
.texto{
	font-family: 'Jacques Francois', serif;
}
#divi{
	background-color: #444444;
	color: white
}

#facebook{
	width: 20em;
	height: 7em;
}
#linkFace{
	margin-top: 2em;
}
#logoHeader{
	margin-left: 25em;
	margin-top: -1em;
}

