extends layout
block head
	|<link href='http://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'>
	|<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
block index
	div.row#fondo
		img#logo(src = "/img/logo.png")
	div.row
		div.container
				a.btn.btn-default(data-toggle="tooltip", 
				data-original-title="Haz clic aqui para ingresar",
				tooltip="Haz clic aqui para ingresar", href="auth/facebook")
	div.row
		div.thumbnail#cuadro_1.col-lg-4
			img.thumbnail(src="/img/vender.jpg")
			div.caption
				h3 Ofrece Todo ...
				p Vende todo lo que desees sin restricciones y compártelo en Facebook.
		div.thumbnail#cuadro_2.col-lg-4
			img.thumbnail(src="/img/comprar.jpg")
			div.caption
				h3 Encuentra Todo ...
				p Encuentra todo lo que necesites, casas, autos, electrodomésticos, etc.
		div.thumbnail#cuadro_3.col-lg-4
			img.thumbnail(src="/img/cambiar.jpg")
			div.caption	
				h3 Cambia Todo ...
				p Cambia todo lo que desees de forma rápida y segura.
	div.row
		div.container
			div.jumbotron#jumbo
				h1 ¡Esperanos!
				p Estamos trabajando para que pronto puedes disfrutar de la pagina. Si deseas ser de los primeros en disfrutar de la web 
					b Yo Soy Ventas 
					|registrate ahora.
				p
					a.btn.btn-primary.btn-lg(href="auth/facebook") Registrate