doctype 5
html
	head
		|<meta name="viewport" content="width=device-width, initial-scale=1.0">
		title=title
		link(rel='stylesheet', href='/css/bootstrap.min.css'),
		link(rel='stylesheet', href='/css/main.css')
		block head
	body
		block index
		block foot
			script(src="http://code.jquery.com/jquery.js")
			script(src="/js/bootstrap.min.js")
			script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")